html {
    box-sizing: border-box
}

  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-image: url('/images/jumble-hunt-mobile-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    text-align:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: url('../images/crosshair.png'), auto;
}

body.dark {
    background-image: url('/images/jumble-hunt-mobile-bg-darkmode.png');

}

#gameHeader {
    width: 100%;
    height: 100%;
    background-image: url('/images/jumble-hunt-mobile-cloud-header.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#gameHeader.dark {
    background-image: url('/images/jumble-hunt-mobile-moon-header.png');
}

h1 {
    margin: .2rem 0 -10px 0;
    font-family: 'Lobster', cursive;
    text-shadow:
    -2px -2px 0 #5B5B5B,
    2px 2px 0 #5B5B5B,
    -2px -2px 0 #5B5B5B,
    2px 2px 0 #5B5B5B;
    font-size: 4rem;
    color: #5092be;
    width: 100%;
}

h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 1.2rem;
    margin-bottom: -3px;
}

#gameStatusDisplay {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-bottom: -10px;
    display: flex;
    align-content: center;
    justify-content: center;

}

#gameStatusDisplay > p {
    margin: 0 .4rem 1rem;
}

#unscramDisplay {
    /* height: 100px; */
    position: fixed;
    top: 6rem;
}

#assemble {
    color: #5092be;
    text-shadow:
    -2px -2px 0 #eeeeec,
    2px 2px 0 #eeeeec,
    -2px -2px 0 #eeeeec,
    2px 2px 0 #eeeeec;
    font-family: 'Kirang Haerang', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    min-height: 20rem;
}

#winLoseMsg {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    visibility: hidden;
    position: fixed;
    bottom: 20rem;
    min-height: 11rem;
    
    padding-top: 3.5rem;


}

#msgAndBtn {
    display: flex;
    flex-direction: column;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3.5rem;
    width: 375px;
    height: 175px;
}

#nxtWrdBtn {
    color: yellow;
    text-shadow:
    -2px -2px 0 black,
    2px 2px 0 black,
    -2px -2px 0 black,
    2px 2px 0 black;
    background: transparent;
    border: none;
}

#gameBoardDisplay {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    /* min-height: auto; */
    position: fixed;
    bottom: 10rem;
}

#board {
    color: #7b9d3d;
    text-shadow:
    -2px -2px 0 black,
    2px 2px 0 black,
    -2px -2px 0 black,
    2px 2px 0 black;
    font-size: 5rem;
    line-height: 7rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#theWord {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    color: #7b9d3d;
    text-shadow:
    -2px -2px 0 black,
    2px 2px 0 black,
    -2px -2px 0 black,
    2px 2px 0 black;
    position: fixed;
    bottom: 2.5rem;
}

#restartBtn{
    font-family: 'Bebas Neue', cursive;
    background-color: Transparent;
    text-shadow:
    -1px -1px 0 red,
    1px 1px 0 red,
    -1px -1px 0 red,
    1px 1px 0 red;
    border: none;
    background-image: url('/images/restart.png');
    background-size: cover;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    height: 55px;
    width: 55px;

}
#cheatBtn{
    font-family: 'Bebas Neue', cursive;
    background-color: Transparent;
    text-shadow:
    -1px -1px 0 red,
    1px 1px 0 red,
    -1px -1px 0 red,
    1px 1px 0 red;
    border: none;
    background-image: url('/images/no-symbol.png');
    background-size: cover;
    position: fixed;
    bottom: 4rem;
    left: 2rem;
    height: 55px;
    width: 55px;
}

#light-dark-button {
    background-image: url('/images/night-vision-goggles.png');
    background-size: cover;
    position: fixed;
    bottom: 1rem;
    left: 1.8rem;
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    height: 55px;
}

#light-dark-button::after {
    border: none;
    color: red;
    text-shadow:
    -1px -1px 0 black,
    1px 1px 0 black,
    -1px -1px 0 black,
    1px 1px 0 black;
    content: "STEALTH";
}


@media only screen and (min-width: 768px){
    body {
        height: 100vh;
        background-image: url('/images/jumble-hunt-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    body.dark {
        background-image: url('/images/jumble-hunt-darkmode-bg.png');
    }

    #gameHeader.dark {
        background-image: url('/images/jumble-hunt-moon-header.png');
    }

    #gameHeader {
        width: 100%;
        height: 100%;
        background-image: url('/images/jumble-hunt-cloud-header.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    h1 {
        font-size: 6rem;
        margin-bottom: -18px;
    }

    #gameBoardDisplay {
        position: fixed;
        bottom: 14rem;
    }

    #winLoseMsg {
        position: fixed;
        bottom: 22rem;
    }

}
