html {
    box-sizing: border-box
}

  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: #39A2DB;
    font-family: sans-serif;
    text-align:center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1.2rem 0;
    /* margin-bottom: auto; */
    font-size: 3rem;
    color: white;
    width: 100%;
}

h2 {
    font-size: 1.2rem;
}

#gameStatusDisplay {
    font-size: .9rem;
    margin-bottom: -10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#gameStatusDisplay > p {
    margin: 0 .4rem 1rem;
}

#gameBoardDisplay {
    position: fixed;
    bottom: 8rem;
}

#assemble {
    padding-top: 2rem;
    min-height: 20rem;
}


#board,
#assemble {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

/* button {
    position: fixed;
    bottom: 30px;
} */

#restartBtn{
    position: fixed;
    bottom: 3rem;
    right: 6rem;
}
#cheatBtn{
    position: fixed;
    bottom: 3rem;
    left: 6rem;
}